* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  height: 92vh;
}

.header {
  height: 15%;  
}

.header, .footer {
  background-color: #333;
  color: #fff;
  text-align: left;
  padding: 20px;
  padding-bottom: 50px;
}

.nav {
  background-color: #000;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  padding-inline: 60px;
}

.nav li {
  margin: 0 15px;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.content {
  display: flex;
  height: 45%;
}

.main {
  flex: 3;
  background-color: #ccc;
  padding: 20px;
}

.aside {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-left: 1px solid #ddd;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  height: 40%;
}
